<!DOCTYPE html>
<html style="height: 100%; width: 100%">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Painel{% endblock %}</title>
    <!-- <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> -->
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</head>

<body style="height: 100%">
<div class=" m-auto d-flex" style="height: 100%" >
    <div class="card m-auto" style="width: 18rem;">
        <div class="card-body">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="text-center">
                <!-- <img style="width: 238px; height: 136px;" src="{{ asset('resources/images/logoCharlie.svg') }}" alt="Charlie"> -->
                <p class="text mb-2 mt-n2"  >PAINEL - Sistema Administrativo</p>
            </div>
            <form action="{{ path('app_login') }}" method="post">
                <label for="username">Usuário:</label>
                <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="digite seu usuário"/>

                <label for="password">Senha:</label>
                <input  class="form-control" type="password" id="password" name="_password" placeholder="digite sua senha"/>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-dark w-100 mt-3" type="submit">Entrar</button>
            </form>

            <div class="text-center mt-2">
                <!-- <a style="color: black" href="">Esqueceu sua senha?</a> -->

            </div>

        </p>
    </div>
</div>
</body>
</html>